<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Data Science languages
* List Data Science Libraries
* List Data Science tools

# Some of the popular languages that Data Scientists use are:
- Python
- R
- C

Some of the commonly used libraries used by Data Scientists include:

1. dplyr
2. tensorflow
3. keras

|Data science tools|
|------------------|
|Jupyter|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author:

Enrique